@{
    ViewData["Title"] = "Create";
}
@model ITSAIntermediate_OmphileMojahi_.Data.Models.Users;

<div class="col-12">
    <form asp-controller="Users" asp-action="Create" method="post">
        <div class="section-title flex">
            <div class="flex">
                <p class="blu-title bold"></p>
            </div>
        </div>
        <input class="edit-input-tag " type="text" asp-for="Name" placeholder="UserName"><br>

        <input class="edit-input-tag " type="text" asp-for="Surname" placeholder="Surname">
        <br>
        <input class="edit-input-tag " type="text" asp-for="Address.ComplexName" placeholder="Address"><br>
        <input class="edit-input-tag  " type="text" asp-for="IdentityNumber" placeholder="Status"><br>

        <div class="form-group" style="padding-top:20px">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
